snippet def
__${1:term}__
:   ${2:Definition}
endsnippet

snippet ===
========================================================================
endsnippet

snippet ---
------------------------------------------------------------------------
endsnippet
